*,*::before,*::after{
	box-sizing:border-box;
	padding:0;
	margin:0;
}
body{
max-width:1400px;
	
}
.logo{

	margin-top:1em;
	margin-left: 1em;
}
.logo:hover
{
cursor: pointer;
}
img{
	max-width: 100%;
}
.nav{	
	text-align: right;
	list-style-type: none;
}
a:link{
text-decoration: none;
}
a:hover{
	color:black;
}

header{
	 
background-image:url("./images/desktop/image-header.jpg");
background-repeat: no-repeat;

background-position: top -7rem left 0rem;
background-size: cover;
width:100%;
height:100vh;

}

.arrow-down{
transform: translate(660px,70px);
 }
.contact{
	background-color: #fff;
	border-radius: 20px;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	padding-right: 1em;
}

	.hero--text
{
	font-size: 2rem;
	text-align: center; 
	margin-top: 1em;
	color:#fff;
}
	.nav-link
{
	color:#fff;
}
.nav-link+.nav-link
{
margin-left: 1em;
}
.contact
{
	color:black;
	background-color: #fff;
	margin-right: 1em;
}


.contact:hover
{
	background-color: #66ccff;
	color:#fff;
}


.intro-text
{

font-weight: bold;
font-size: 1.5em;
margin-bottom: 2em;
width:30%;
} 
.intro-paragraph
{
margin-bottom: 2em;
width:58%;	
}

.learn-more1:hover
{
text-decoration: underline;
  text-decoration-color: rgb(235, 219, 52);
    text-decoration-thickness: 5px; 
}
.learn-more2:hover
{
text-decoration: underline;
  text-decoration-color: tomato;
    text-decoration-thickness: 5px; 
}
.wrapper{
display: grid;
    grid-template-areas: 'section_one section_two'
                          'section_three section_four'
                          'section_five section_six';  
grid-template-columns:2(1fr);

}
#hamburger
	{
	 display:none;
	}

.section-1
{
	grid-area: section_one;
   margin-left:4em;

}

.section-2
{   
	grid-area: section_two;
	background-image:url("./images/desktop/image-transform.jpg");
	width:42rem;
height:80vh;
background-repeat: no-repeat;
background-position: top 20rem left 0rem bottom 20rem right 30rem;
background-size: cover;
	


	
}

.section-3
{
	grid-area: section_three;
background-image:url("./images/desktop/image-stand-out.jpg");
	width:43rem;
height:80vh;
background-repeat: no-repeat;
background-position: top 20rem left 30rem bottom 20rem right 0rem;
background-size: cover;
	
	

}

.section-4
{
	grid-area: section_four;
	margin-left: 4em;

}

.section-5
{
	grid-area: section_five;
	background-image: url("./images/desktop/image-graphic-design.jpg");
    width:100%;
    height:100vh;
background-repeat: no-repeat;
position: relative;
}
.graphic-design
{   position: absolute;
	top: 60%;
  left: 45%;
  transform: translate(-20%, -30%);
}
.graphic-design-para
{
 
  transform: translate(160px, 450px); 
 text-align: center;
 width:55%;
}
.section-6
{
	grid-area: section_six;
	background-image:url("./images/desktop/image-photography.jpg");
width:100%;
height:100vh;
background-repeat: no-repeat;
position: relative;
}
.photography
{
	position:absolute;

top: 60%;
  left: 50%;
  transform: translate(-30%, -30%);
}
.photography-para
{
    text-align: center;	
    top: 70%;
   left: 20%;
   transform: translate(160px,460px);
   width:55%;
}

.testimonials
{   
	margin-top:2em;
	margin-left: 8em;
	text-align: center;
	letter-spacing: .2em;
	text-transform: uppercase;
	
}
.client-name
{
font-weight: bold;
margin-top: 2em;

}
.testimonials-section
{   text-align: center;
	display: flex;
	margin-left:6em;
margin-right: 2em;
margin-top: 0;


}
.col+.col{
margin-left:6em;
}
.testimonial-image
{
width:3em;
height:3em;
border-radius:100%;
margin-top:2em;
margin-bottom: 2em;
}

.image-gallery
{
	display:grid;
	grid-template-rows:1fr;
	grid-template-columns:338px 338px 338px 338px;
}

.footer
{   
	background-color:rgb(147, 219, 193);
}
.bottom-logo
{   
	font-family: sans-serif;
	font-weight:900;
	color:rgb(71, 112, 97);
	text-align: center;
}

.footer-links
{
display: flex;
justify-content: center;
margin-top: 3em;
}

.link:hover
{
color:#fff;
cursor:pointer;
}
.link+.link
{
	margin-left: 1em;
}
.social-media-links
{
display: flex;
justify-content: center;


}


.media-link
{
	margin-top: 3em;
	margin-bottom: 3em;
	
}
.media-link+.media-link
{
	margin-left: 2em;
}

@media(max-width:375px)
{
	
	header
	{   display:block;
		 background-image : url("./images/icon-arrow-down.svg");
		background-image:url("./images/mobile/image-header.jpg");
		
        
        
	}
	.hero--text
{
	font-size: 1.5rem;
	text-align: center; 
	margin-top: 1em;
	color:#fff;
}
	.arrow-down{
transform: translate(200px,10px);
 }
	
	
	.nav{
display: none;
	}

   .nav-link
   {
   	color:grey;
   }
   .contact
   {
   	color: black;
   	background-color: #FDDA0D;
   }
		

	.wrapper
	{
		display:flex;
		flex-direction: column;
	}
	

#hamburger
{
	display: inline-block;
visibility: visible;
cursor:pointer;
transform: translate(170px,0px);
}
.nav--visible
	{
		display:flex;
		flex-direction: column;
	 	align-items: center;
	 	background-color: #fff;
        
	}

.item1
{  
	order:2;
	margin-top: 2em;
	margin-bottom: 2em;

/*background-image:
 url("images/mobile/image-transform.jpg");*/

}
.item2
{  
	background-image:
 url("./images/mobile/image-transform.jpg");
background-size: cover;
order:1;



}
.item3
{
/*background-image: url("./images/mobile/image-stand-out.jpg");

}*/

}
.item4
{
	margin-top: 2em;
	margin-bottom: 2em;
}
.col+.col
{
margin-left: 0;

}
.section-5
{

background-image: 
url("images/mobile/image-graphic-design.jpg");
background-size: cover;
}
.graphic-design-para
{

transform: translate(100px, 450px);
}
.section-6
{

background-image: 
url("images/mobile/image-photography.jpg");
background-size: cover;
}
.photography-para
{
transform: translate(110px,460px);
}
.testimonials
{
	margin-right: 6em;
}
.testimonials-section
{
	flex-direction: column;
	margin-right:4em;

}
.image-gallery
{
	display:grid;
	grid-template-rows:1fr;
	grid-template-columns:180px 180px;
}
}
